<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>HTML</title>
    <style>
        * {
            font-size: 16px;
            font-family: Consolas, sans-serif;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th style="padding-right: 50px"> 고정확장자</th>
        <th>
            <label style="padding-right: 15px">
                <input type="checkbox" value="bat"> bat
            </label>
            <label style="padding-right: 15px">
                <input type="checkbox" value="cmd"> cmd
            </label>
            <label style="padding-right: 15px">
                <input type="checkbox" value="com"> com
            </label>
            <label style="padding-right: 15px">
                <input type="checkbox" value="com"> cpl
            </label>
            <label style="padding-right: 15px">
                <input type="checkbox" value="com"> exe
            </label>
            <label style="padding-right: 15px">
                <input type="checkbox" value="com"> scr
            </label>
            <label style="padding-right: 15px">
                <input type="checkbox" value="com"> js
            </label>
        </th>
    </tr>

    <tr>
        <th style="padding-right: 50px"> 커스텀 확장자</th>
        <th>
            <label style="text-align: left">
                <input type="text" placeholder="확장자 입력" style="width: 98%;">
            </label>
        </th>
        <th>
            <label>
                <input type="button" value="+추가">
            </label>
        </th>
    </tr>

    <tr>
        <th>
        </th>

        <th>
            <div style="border:1px solid; padding: 10px; height: 200px">
            </div>
        </th>
    </tr>
</table>

<!--<div>-->
<!--    <p style="float: left; padding-right: 50px">고정 확장자</p>-->
<!--    <label style="float: left; padding-top: 15px; padding-right: 25px"><input type="checkbox" value="bat"> bat</label>-->
<!--    <label style="float: left; padding-top: 15px; padding-right: 25px"><input type="checkbox" value="red"> cmd</label>-->
<!--    <label style="float: left; padding-top: 15px; padding-right: 25px"><input type="checkbox" value="red"> com</label>-->
<!--    <label style="float: left; padding-top: 15px; padding-right: 25px"><input type="checkbox" value="red"> cpl</label>-->
<!--    <label style="float: left; padding-top: 15px; padding-right: 25px"><input type="checkbox" value="red"> exe</label>-->
<!--    <label style="float: left; padding-top: 15px; padding-right: 25px"><input type="checkbox" value="red"> scr</label>-->
<!--    <label style="float: left; padding-top: 15px; padding-right: 25px"><input type="checkbox" value="red"> js</label>-->
<!--</div>-->
<!--<div>-->
<!--    <p style="float: start; padding-right: 50px">커스텀 확장자</p>-->

</div>
</body>
</html>