<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>HTML</title>
    <style>
        * {
            font-size: 16px;
            font-family: Consolas, sans-serif;
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
        $(document).ready(function () {
            console.log("hello")
        })

        function check(box) {

            console.log(box.value)

            var payload = {
                "name" : box.value,
                "isChecked" : box.checked
            }

            $.ajax(
                {
                    url: "/extension/fix",
                    data: JSON.stringify(payload),
                    method: "POST",
                    dataType: "json",
                    contentType:'application/json'
                }
            )
        }

        function add(){
            const name = document.getElementById("extension-text-box").value;

            var payload = {
                "name" : name
            }

            $.ajax(
                {
                    url: "/extension/custom",
                    data: JSON.stringify(payload),
                    method: "POST",
                    contentType:'application/json',
                    async:false,
                    error: function(data){
                        alert(data.responseJSON.message)
                    }
                }
            )

            location.reload();
        }

        function del(name){

            var payload = {
                "name" : name
            }

            $.ajax(
                {
                    url: "/extension/custom",
                    data: JSON.stringify(payload),
                    method: "DELETE",
                    dataType: "json",
                    contentType:'application/json',
                    async:false
                }
            )
            // 여기 errorHandling (중복)

            location.reload();
        }

    </script>
</head>
<body>
<table>
    <tr>
        <th style="padding-right: 50px"> 고정확장자</th>
        <th>
            <label style="padding-right: 15px">
                <input type="checkbox" value="bat" onclick="check(this)" th:checked="${userExtensionsResponse.bat}"> bat
            </label>
            <label style="padding-right: 15px">
                <input type="checkbox" value="cmd" onclick="check(this)" th:checked="${userExtensionsResponse.cmd}"> cmd
            </label>
            <label style="padding-right: 15px">
                <input type="checkbox" value="com" onclick="check(this)" th:checked="${userExtensionsResponse.com}"> com
            </label>
            <label style="padding-right: 15px">
                <input type="checkbox" value="cpl" onclick="check(this)" th:checked="${userExtensionsResponse.cpl}"> cpl
            </label>
            <label style="padding-right: 15px">
                <input type="checkbox" value="exe" onclick="check(this)" th:checked="${userExtensionsResponse.exe}"> exe
            </label>
            <label style="padding-right: 15px">
                <input type="checkbox" value="scr" onclick="check(this)" th:checked="${userExtensionsResponse.scr}"> scr
            </label>
            <label style="padding-right: 15px">
                <input type="checkbox" value="js" onclick="check(this)" th:checked="${userExtensionsResponse.js}"> js
            </label>
        </th>
    </tr>

    <tr>
        <th style="padding-right: 50px"> 커스텀 확장자</th>
        <th>
            <label style="text-align: left">
                <input type="text" id="extension-text-box" placeholder="확장자 입력" style="width: 98%;">
            </label>
        </th>
        <th>
            <label>
                <input type="button" value="+추가" onclick="add()">
            </label>
        </th>
    </tr>

    <tr>
        <th>
        </th>

        <th>
            <div style="border:1px solid; padding: 10px; height: 200px">
                <table>
                    <tr>
                        <th th:text = "${#lists.size(userExtensionsResponse.customExtensions)} + '/200'">
                        </th>
                    </tr>
                    <tr th:each ="customExtension : ${userExtensionsResponse.customExtensions}">
                        <th style="border:1px solid ;padding: 10px">
                            <div th:text = "${customExtension}"></div>
                            <input type="button" value="x" th:onclick="del( [[${customExtension}]] );">
                        </th>
                    </tr>
                </table>
            </div>
        </th>
    </tr>
</table>
</body>
</html>